# Python para finanças

## Importaçao de bibliotecas

In [ ]:
import pandas as pd 
from pandas_datareader import data
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import plotly.express as px 
import yfinance as yf

## Base de dados com uma ação

In [10]:
gol_df = yf.download("GOLL4.SA", start='2015-01-01') #buscando as ações da gol de 2015 até atualmente

[*********************100%%**********************]  1 of 1 completed

In [14]:
gol_df.head() #cinco primeiros dados

             Open   High    Low  Close  Adj Close   Volume
Date
2015-01-02  14.97  15.20  14.61  14.99      14.99   901900
2015-01-05  14.90  15.01  14.41  14.85      14.85  1272500
2015-01-06  14.75  15.21  14.65  15.21      15.21  2183500
2015-01-07  15.15  15.33  14.55  14.55      14.55  1846900
2015-01-08  14.41  14.65  14.20  14.27      14.27  1569500

In [15]:
gol_df.tail() #cinco últimos dados

            Open  High   Low  Close  Adj Close    Volume
Date
2023-09-28  6.52  6.56  6.36   6.55       6.55   7850700
2023-09-29  6.64  6.73  6.51   6.61       6.61   7403400
2023-10-02  6.64  6.65  6.32   6.35       6.35   6535100
2023-10-03  6.29  6.39  5.98   6.02       6.02  10599400
2023-10-04  6.11  6.39  6.10   6.24       6.24  10773400

In [12]:
gol_df.info() #informações dos tipos de dados e quantidade

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2179 entries, 2015-01-02 to 2023-10-04
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2179 non-null   float64
 1   High       2179 non-null   float64
 2   Low        2179 non-null   float64
 3   Close      2179 non-null   float64
 4   Adj Close  2179 non-null   float64
 5   Volume     2179 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 119.2 KB

In [13]:
gol_df.describe()  #descrição detalhada

,Open,High,Low,Close,Adj Close,Volume
count,2179.000000,2179.000000,2179.000000,2179.000000,2179.000000,2.179000e+03
mean,14.707141,15.071533,14.322386,14.669454,14.669454,6.304198e+06
std,9.174679,9.343698,8.996697,9.167017,9.167017,5.664848e+06
min,1.160000,1.180000,1.130000,1.160000,1.160000,0.000000e+00
25%,7.655000,7.810000,7.445000,7.630000,7.630000,2.289800e+06
50%,12.660000,13.000000,12.180000,12.500000,12.500000,4.646600e+06
75%,20.435000,21.025001,19.900000,20.430000,20.430000,8.667650e+06
max,43.669998,44.619999,41.310001,43.790001,43.790001,6.724200e+07

In [18]:
gol_df[gol_df['Close'] >= 43.79] #vizualisando qual foi o dia com o maior fechamento

             Open       High    Low      Close  Adj Close   Volume
Date
2019-08-01  41.25  44.619999  41.25  43.790001  43.790001  6664200

In [21]:
gol_df[(gol_df['Close'] >= 1.15) & (gol_df['Close'] <= 1.16)]  #vizualisando qual foi o dia com o menor fechamento

            Open  High   Low  Close  Adj Close   Volume
Date
2016-01-22   1.2  1.26  1.14   1.16       1.16  3830600

In [22]:
gol_df.to_csv('gol.csv') #transformando os dados em um csv para evitar falhas

In [23]:
gol_df2 = pd.read_csv('gol.csv') #abrindo pelo csv
gol_df2

            Date   Open   High    Low  Close  Adj Close    Volume
0     2015-01-02  14.97  15.20  14.61  14.99      14.99    901900
1     2015-01-05  14.90  15.01  14.41  14.85      14.85   1272500
2     2015-01-06  14.75  15.21  14.65  15.21      15.21   2183500
3     2015-01-07  15.15  15.33  14.55  14.55      14.55   1846900
4     2015-01-08  14.41  14.65  14.20  14.27      14.27   1569500
...          ...    ...    ...    ...    ...        ...       ...
2174  2023-09-28   6.52   6.56   6.36   6.55       6.55   7850700
2175  2023-09-29   6.64   6.73   6.51   6.61       6.61   7403400
2176  2023-10-02   6.64   6.65   6.32   6.35       6.35   6535100
2177  2023-10-03   6.29   6.39   5.98   6.02       6.02  10599400
2178  2023-10-04   6.11   6.39   6.10   6.24       6.24  10773400

[2179 rows x 7 columns]

## Base de dados com mais ações

In [24]:
acoes = ['GOLL4.SA', 'CVCB3.SA', 'WEGE3.SA', 'MGLU3.SA', 'TOTS3.SA', 'BOVA11.SA']