# Taxa de retorno ações
Retorno simples = preço final - preco inicial/ preco inicial * 100

## Importação de bibliotecas e banco de dados

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
dataset = pd.read_csv('acoes.csv')

In [4]:
dataset

            Date    GOL    CVC       WEGE      MGLU       TOTS        BOVA
0     2015-01-02  14.99  15.20   5.923076  0.232812  11.910702   47.259998
1     2015-01-05  14.85  15.00   5.963461  0.237187  11.544731   46.320000
2     2015-01-06  15.21  14.80   5.875000  0.234062  10.822770   46.580002
3     2015-01-07  14.55  14.67   5.807692  0.241875  10.746248   48.150002
4     2015-01-08  14.27  14.15   5.905769  0.240000  10.995774   48.509998
...          ...    ...    ...        ...       ...        ...         ...
2157  2023-10-13   7.02   2.92  34.540001  1.820000  26.760000  112.059998
2158  2023-10-16   7.48   2.92  34.650002  1.790000  26.879999  112.940002
2159  2023-10-17   7.80   2.80  34.279999  1.690000  26.719999  112.339996
2160  2023-10-18   7.24   2.71  34.290001  1.730000  26.059999  110.370003
2161  2023-10-19   6.88   2.56  33.939999  1.610000  26.139999  110.599998

[2162 rows x 7 columns]

## Taxa de retorno simples

In [5]:
len(dataset)

2162